@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.judul{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    display: flex;
    justify-content: center;
}

.judul h1{
    margin-bottom: 1%;
    border-bottom-style: solid;
    width: max-content;    
}

.rektor{
    margin-top: 3%;
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wakil, .lembaga, .kaprodi{
    margin-top: 3%;
    margin-bottom: 4%;
    width: 100%;
    display: flex;
}

.sirwill, .pakben, .pakmar, .pakdan{
    width: 50%;
    display: flex;
    justify-content: center;
}

.sirwill img, .pakben img, .pakmar img, .pakdan.img{
    width: 75%;
}

.pakbri, .pakwen, .pakray{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
}

.pakbri img, .pakwen img, .pakray img{
    width: 100%;
}

button{
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: rgb(70, 214, 190);
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    width: 10%;
}