@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

.judul{
    width: 65%;
    margin-left: 3%;
}

.judul h1{
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    width: max-content;
}

p, li{
    font-size: 20px;
    text-align: justify;
}

.prospek{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.bagian{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-right: 3%;
    margin-bottom: 2%;
}

.wirausaha{
    width: 40%;
    margin-left: 3%;
    margin-right: 0%;
}

.wirausaha ol{
    padding-left: 5%;
}

button{
    margin-left: 3%;   
    margin-top: 15px;
    margin-bottom: 3%;
    background-color: rgb(70, 214, 190);
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    width: 10%;
}